@import "home";
@import "productshow";

.media {
  display: flex;
}
.media-body {
  flex: 1 1 auto;
  padding: 20px;
}
.media-body img {
  width: 100%;
}
.media-aside {
  flex: 0 0 400px;
  padding: 30px;
  align-self: stretch;
  background: #F8F7F7;
  border-left: 1px solid #f0efef;
}
.media-section {
  margin: 40px auto;
}
.media-section:first-child {
  margin-top: 0;
}
.media-section:last-child {
  margin-bottom: 0;
}

html, body {
    height:100%;
}

#map {
  position: fixed;
}

.container {
   color: white;
   background-color: #CECFC7;
   border-radius: 14px;
   margin-top: 20px;
}

#log_form {
  text-align: center;
  font-size: 1O0px;
  color: blue;
}

.wrapper_show_booking {
  background-color: #D8D5DB;
  padding: 10px;
  border-radius: 5px;
}

.margin_top {
  margin-top: 10px;
}
.padding_top {
  padding-top: 10px;
}
