@import "home";
@import "productshow";

.media {
  display: flex;
}
.media-body {
  flex: 1 1 auto;
  padding: 20px;
}
.media-body img {
  width: 100%;
}
.media-aside {
  flex: 0 0 400px;
  padding: 30px;
  align-self: stretch;
  background: #F8F7F7;
  border-left: 1px solid #f0efef;
}
.media-section {
  margin: 40px auto;
}
.media-section:first-child {
  margin-top: 0;
}
.media-section:last-child {
  margin-bottom: 0;
}

html, body {
    height:100%;
}

#map {
  position: fixed;
}

.container {
   color: white;
   // background-color: #CECFC7;
   border-radius: 14px;
   margin: 20px;
}

#log_form {
  text-align: center;
  font-size: 1O0px;
  color: blue;
}

.wrapper_show_booking {
  background-color: #D8D5DB;
  padding: 10px;
  border-radius: 5px;
}

.margin_top {
  margin-top: 10px;
}
.padding_top {
  padding-top: 10px;
}

.card-img-top {
  // background-repeat:no-repeat;
  // background-size: 100%;
 position: relative;
   height: 400px;
   margin: 20px;
   border-style: solid;
   border-color: #E0A1A1;
   border-width: 10px;
   border-radius: 10px;
 }

.img-hover {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: none;
  background-image: linear-gradient(top, rgba(255,0,132,0.09) 23%,rgba(255,0,132,0.09) 24%,rgba(255,0,132,0.2) 31%,rgba(255,0,132,0.34) 40%,rgba(255,0,132,0.79) 69%,rgba(255,0,132,1) 83%);
}

.title-card {
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #F1D72A;
   font-size: 2em;
}

.product-name {
  margin-top: 60px;
 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 font-weight: bold;
 text-align: center;
  color: #F1D72A;
   font-size: 1.8em;
}


 #btn-voir {
  background-color: #E0A1A1;
  margin-left: 20px;
  border-radius: 7px;
  color: white;
  font-weight: bold;
 }

  body {
    background-color: green;
  }

.card-block {
  height: 20em;
}

.card-title{
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 30px;
  color: pink;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
   font-size: 20px;
}
