<div id="footer">
  <div class="container_footer">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href="https://twitter.com/LunarCaravans"><i class="fa fa-twitter-square"></i></a></li>
          <li><a href="https://www.facebook.com/Caravane-938636882859469/?ref=br_rs"><i class="fa fa-facebook-official"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-7 text-right">
        <p>Le site qui Locatione des Karavans @Rn&Beauf</p>
      </div>
    </div>
  </div>
</div>

