<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(http://lillibulle.typepad.com/.a/6a00d83451d8bb69e2019affd37c39970d-pi);">
    <div class="banner-content">
        <h1>AirBnBeauf ma gueule</h1>
        <h3>ou ess kon va keskon fé</h3>
        <form action="#" class="form-inline">
            <input type="text" class="form-control input-lg searchbar" placeholder="ou ess kon va">
            <input type="text" class="form-control input-lg searchbar" placeholder="jariv">
            <input type="text" class="form-control input-lg searchbar" placeholder="jpar">
            <select name="" id="" class="form-control input-lg searchbar">
                <option value="1">1 kop1</option>
                <option value="2">2 kop1</option>
                <option value="3">3 kop1</option>
            </select>
            <input type="submit" class="btn btn-primary btn-lg searchbar" value="va cherché">
        </form>
    </div>
</div>

<% # Bloc n°2 %>

<div class="container">
  <div class="">
<% @products.each do |p| %>
<%= p.name %>
<%end%>
    <%= render 'index_bloc2' %>
  </div>
  <div class="">
    <%= render 'index_bloc2' %>
  </div>
</div>
